body {
    font-family: 'Assistant', sans-serif;
    margin: 0;
}

.answers {
    height: 25px;
    padding: 4px 0 4px 0;
    width: 200px;
}

.answer-box {
    border: 1px solid black;
    height: 23px;
    position: absolute;
    text-align: center;
    width: 23px;
}

.bar {
    width: 200px;
    margin: 42px 0 42px 0;
}

.box {
    display: flex;
}

.box-col {
    display: flex;
    flex-direction: column;
}

.buttons {
    padding: 5px 15px;
    justify-content: center;
}

.btn-guess {
    border: 0.1em solid #000000;
    border-radius: 0.42em;
    background-color: #FFFFFF;
    height: 25px;
    width: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.cleff {
    position: absolute;
    margin-top: 0px;
    margin-left: 5px;
    height: 50px;
}

.container {
    margin: 0 auto;
    min-width: 322px;
    width: 100%
}

.dev {
    flex-direction: column;
    padding: 72px 3px 3px 3px;
    width: 35px;
}

.dev-icon {
    margin: 2px auto 3px auto;
}

.dev-note {
    margin-left: 55px !important;
    margin-right: 0px !important;
}

.measure {
    flex-wrap: wrap;
}

.navigation {
    height: 30px;
}

.note {
    height: 58px;
    margin-left: 4.01px;
    margin-right: 4.01px;
    position: absolute;
}

.note.pos-1 {
    margin-top: 45px;
    transform: rotate(180deg);
}

.note.pos-2 {
    margin-top: 38px;
    transform: rotate(180deg);
}

.note.pos-3 {
    margin-top: 30px;
    transform: rotate(180deg);
}

.note.pos-4 {
    margin-top: 23px;
    transform: rotate(180deg);
}

.note.pos-5 {
    margin-top: -28px;
}

.note.pos-6 {
    margin-top: -35px;
}

.note.pos-7 {
    margin-top: -42px;
}

.signature {
    margin-top: 42px;
}

.staff {
    margin: 0 auto 0 auto;
    justify-content: center;
}

.staff-cleff-svg {
    height: 61px;
    width: 80px;
}

.staff-svg {
    height: 61px;
    width: 200px;
}

.question {
    text-align: center;
    padding: 5px 15px;
}

.wireframe {
    outline: 1px solid black;
}

.wrap {
    flex-wrap: wrap;
}

@media only screen and (min-width: 580px) {
    .container {
        width: 90%;
    }
    
}

@media only screen and (max-width: 520px) {
    .measure {
        width: 200px;
    }
}