/* Begin Answer Selectors */
.answers {
    height: 25px;
    padding: 4px 0 4px 0;
    width: 200px;
}

.answer-box {
    border: none;
    border-radius: 4px;
    height: 23px;
    position: absolute;
    text-align: center;
    width: 23px;
}
/* End Answer Selectors */

.bar {
    flex-wrap: wrap;
    width: 280px;
}

body {
    font-family: 'Assistant', sans-serif;
    margin: 0;
}

/* Begin Flexbox Selectors */
.box {
    display: flex;
}

.box-col {
    display: flex;
    flex-direction: column;
}

.box-wrap {
    flex-wrap: wrap;
}
/* End Flexbox Selectors */

/* Begin Button Selectors */
.buttons {
    justify-content: center;
    margin: 0 auto 0px auto;
    width: 250px;
}

.btn-change-cleff {
    background-color: #E8EBE4;
    border: none;
    display: block;
    height: 30px;
    outline: none;
}

.btn-continue {
    background-color: #70a1d7;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    display: block;
    height: 35px;
    margin: 0 auto 0 auto;
    outline: none;
    padding: 0 15px;
}

.btn-guess {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 4px;
    height: 30px;
    margin: 8px;
    outline: none;
    width: 45px;
}
/* End Button Selectors */

/* Begin Music Cleff Selectors */
.cleff {
    position: absolute;
    margin-left: 5px;
}

.cleff-bass {
    margin-top: 0px;
    height: 50px;
}

.cleff-treble {
    margin-top: -17px;
    height: 100px;
}
/* End Music Cleff Selectors */

.container {
    margin: 0 auto;
    min-width: 322px;
    width: 100%
}

/* Begin Development Selectors */
.dev {
    flex-direction: column;
    padding: 72px 3px 3px 3px;
    width: 35px;
}

.dev-icon {
    margin: 2px auto 3px auto;
}

.dev-note {
    margin-left: 55px !important;
    margin-right: 0px !important;
}
/* End Development Selectors */

/* Begin Dropdown Selectors */
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    background-color: #E8EBE4;
    display: none;
    position: absolute;
    min-width: 120px;
    z-index: 1;
}

.dropdown-content a {
    color: #000000;
    cursor: default;
    display: block;
    padding: 4px 8px;
    text-decoration: none;
}

.dropdown-content :hover {
    background-color: #BAC7BE;
}

.dropdown-content.visible {
    display: block;
}
/* End Dropdown Selectors */

.measure {
    margin: 42px 0 42px 0;
    width: 200px;
}

/* Begin Modal Selectors */
.modal {
    background-color: #ffffff;
    border-radius: 4px;
    margin: 80px auto auto auto;
    width: 240px;
}

.modal-content {
    display: inline-block;
    height: 60px;
    margin: 10px auto 10px auto;
    padding: 0 10px 0 10px;
    text-align: center;
}

.modal-footer {
    display: inline-block;
    height: 35px;
    margin: 10px auto 25px auto;
    width:100%;
}

.modal-overlay {
    background: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.modal-overlay.visible {
    display: block;
}
/* End Modal Selectors */

.navigation {
    background-color: #E8EBE4;
    height: 30px;
}

/* Begin Music Note Selectors */
.note {
    height: 58px;
    margin-left: 4.01px;
    margin-right: 4.01px;
    position: absolute;
}

.note.pos-1 {
    margin-top: 45px;
    transform: rotate(180deg);
}

.note.pos-2 {
    margin-top: 38px;
    transform: rotate(180deg);
}

.note.pos-3 {
    margin-top: 30px;
    transform: rotate(180deg);
}

.note.pos-4 {
    margin-top: 23px;
    transform: rotate(180deg);
}

.note.pos-5 {
    margin-top: -28px;
}

.note.pos-6 {
    margin-top: -35px;
}

.note.pos-7 {
    margin-top: -42px;
}
/* End Music Note Selectors */

.signature {
    margin-top: 42px;
}

#signature-two {
    display: block;
}

/* Begin Music Staff Selectors */
.staff {
    justify-content: center;
    margin: 0 auto 0 auto;
}

.staff-cleff-svg {
    height: 61px;
    width: 80px;
}

.staff-svg {
    height: 61px;
    width: 200px;
}
/* End Music Staff Selectors */

.question {
    padding: 5px 15px;
    text-align: center;
}

/* Begin Media Queries */
@media only screen and (min-width: 520px) {
    .bar {
        width: 100%;
    }

    .buttons {
        width: 100%;
    }

    #signature-two {
        display: none;
    }
}

@media only screen and (min-width: 580px) {
    .container {
        width: 90%;
    }


}
/* End Media Queries */